name: Publish new release

on:
  push:
    tags:
      - '*'

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      fail-fast: false
      matrix:
        python-version: [3.7, 3.8, 3.9]
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python ${{ matrix.python-version }}
      uses: actions/setup-python@v2
      with:
        python-version: ${{ matrix.python-version }}
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install poetry
        python -m pip install black
        python -m pip install pep8-naming
        python -m pip install pyflakes
        python -m pip install flake8-bugbear
        python -m pip install flake8-simplify
        python -m pip install pyproject-flake8
        python -m pip install tox
    - name: Blacken
      run: black --config pyproject.toml --diff kiez/ tests/
    - name: Lint with flake8
      run: poetry run pflake8
    - name: Test with tox
      run: tox

  publish:
    needs: test
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - name: Set up Python
      uses: actions/setup-python@v2
      with:
        python-version: "3.9"
    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        python -m pip install poetry
    - name: Publish to pip via poetry
      run: |
        poetry install -v
        poetry publish --build --username "__token__" --password ${{ secrets.PYPI_TOKEN }}
    - name: get_version
      run: echo ::set-output name=version::${GITHUB_REF/refs\/tags\//}
      id: version
    - uses: ncipollo/release-action@v1
      with:
        artifacts: "dist/*.whl,dist/*.tar.gz"
        bodyFile: "NEW_IN_THIS_RELEASE.md"
        tag: ${{ steps.get_version.outputs.version }}
        name: ${{ steps.get_version.outputs.version }}
        token: ${{ secrets.GITHUB_TOKEN }}
